[user]
	email = carlf@photocarl.org
	name = Carl Flippin
	signingkey = D8DA314EDE8F8D1CC8EEF1B4CF044B4FD87EE569
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[magit]
	hideCampaign = true
[github]
	user = carlf
