source ~/.zgenom/zgenom.zsh

if ! zgenom saved; then
    zgenom ohmyzsh
    zgenom ohmyzsh plugins/git
    zgenom ohmyzsh plugins/gh
    zgenom ohmyzsh plugins/golang
{{- if ne .chezmoi.os "darwin" }}
    zgenom ohmyzsh plugins/systemd
{{- end }}
    zgenom ohmyzsh plugins/rbenv
    zgenom ohmyzsh plugins/pyenv
    zgenom ohmyzsh plugins/fzf
    zgenom ohmyzsh plugins/fasd
    zgenom ohmyzsh plugins/gcloud
    zgenom load carlf/zsh-plugins emacs
    zgenom load carlf/zsh-plugins edit-command-line
    zgenom load carlf/zsh-plugins gopass
    zgenom load carlf/zsh-plugins chezmoi
    zgenom load zsh-users/zsh-syntax-highlighting
    zgenom load dracula/zsh
    zgenom save
fi

HISTFILE=~/.zsh_history
HISTSIZE=5000
SAVEHIST=5000
setopt INC_APPEND_HISTORY
setopt EXTENDED_HISTORY

export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
eval $(starship init zsh)
