#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "gnupg"
brew "pinentry"
brew "pinentry-mac"
brew "pwgen"
brew "tmux"
brew "tmuxp"
brew "nnn"
brew "jq"
brew "weechat"
brew "aria2"
brew "atool"
EOF
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install -y \
git \
gpg \
golang \
kitty \
ripgrep \
pinentry-gnome3 \
weechat \
aria2 \
jq \
nnn \
atool \
tmux \
tmuxp \
pwgen
{{- end -}}
