#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "gnupg"
brew "pinentry"
brew "pinentry-mac"
brew "pwgen"
brew "tmux"
brew "tmuxp"
brew "nnn"
brew "jq"
brew "weechat"
brew "aria2"
brew "atool"
brew "ykman"
EOF
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt-key adv --keyserver hkps://keys.openpgp.org \
     --recv-keys 11E9DE8848F2B65222AA75B8D1820DB22A11534E
echo "deb https://weechat.org/ubuntu hirsute main" | sudo tee /etc/apt/sources.list.d/weechat.list
echo "deb-src https://weechat.org/ubuntu hirsute main" | sudo tee -a /etc/apt/sources.list.d/weechat.list
sudo apt update
sudo apt install -y \
     git \
     gpg \
     golang \
     kitty \
     ripgrep \
     pinentry-gnome3 \
     weechat-curses \
     aria2 \
     jq \
     nnn \
     atool \
     tmux \
     tmuxp \
     pwgen \
     yubikey-manager
{{- end -}}
